spring:
  application:
    name: datashare-backend
  datasource:
    url: jdbc:postgresql://localhost:5432/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  servlet:
    multipart:
      max-file-size: 1GB
      max-request-size: 1GB

server:
  error:
    include-message: always
    include-binding-errors: always

datashare:
  app:
    jwtSecret: ${JWT_SECRET}
    jwtExpirationMs: 86400000
    uploadDir: uploads
